
.fat-div{
    background-color: #782221;
    width: 1160px;
    border: solid 1px black;
}

h3{
    background-color: #dbc2a4;
}

.p-dev{
    color: white;
    font-size: 27px;
}
.deuxieme-left{
    color: white;
}

.quatrieme-left{
    color: white;
}
.sixieme-left{
    color: white;
}
