

body{
    display: flex;
    flex-direction:row;
    justify-content: center;
    border: solid 5px black;
}


.p-dev{
    height: 25px;
    margin-bottom: 45px;
    font-family:lato;
}

.Nom{
    font-size: 40px;
    height: 25px;
    font-family: Lato;
    color: white;

}

.div-profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main{
    background-color: #2c1d27 ;
    color: white;
    font-family: initial;
    
}

.premier-gauche{
    background-color: #dbc2a4;
}

.diplome-gras{
    font-weight: bold;
    position: relative;
}

.maj{
    text-align: center;
    font-family: Raleway-Medium;
    margin-top: 25px;
    color: white;
}
.email-link{
    color: white;
    text-decoration: none;
}
.géo{
    color: white;
    text-decoration: none;
}

.tel{
    color: white;
    text-decoration: none;
}
.plane{
    position: relative;
}
